<h1 style="text-align:center">Stupid Coaching</h1>

<div class = "card">
  <p><strong>You:</strong> <span><%= @question %></span></p>
</div>

<div class = "card">
  <p><strong>Coach:</strong> <span><%= @answer %></span></p>
</div>

<br>
<br>

<p id="backlink"><%= link_to "👈 Ask another question", ask_path %></p>
