// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
  border: 2px solid;
  border-color: rgb(240, 240, 240);
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 25px;
  margin: 30px;
}

#backlink {
 text-align: center;
 font-size: 30px;
 text-decoration: none;
}
